*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.qodo
/.vscode
/.vercel
/.zed
/auth.json
/node_modules
/public/build
/public/documents
/public/hot
/public/storage
/public/uploads
/storage/*.key
/storage/pail
/tools/cloudflared.err
/tools/cloudflared.exe
/tools/cloudflared.log
/tools/cloudflared.out
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

.vercel
